<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>password.html</title>

</head><body>
<h3>Hello %name%,</h3>
welcome to Trimatrix, a user was created for!<br>
<table style="text-align: left; width: 330px;" cellpadding="2">
<tbody>
<tr>
<td style="width: 51px;"><span style="font-weight: bold;">User</span></td>
<td style="width: 212px;">%user%</td>
</tr>
<tr>
<td style="width: 51px;"><span style="font-weight: bold;">Pass</span></td>
<td style="width: 212px;">%pass%</td>
</tr>
</tbody>
</table>
<span style="font-weight: bold;"></span><br>
<big style="font-weight: bold;"><big>You can logon
at <a href="%url%">Trimatrix</a></big></big><br>
<br style="font-weight: bold;">
<span style="font-weight: bold;">At the first login you
are forced to change your password</span>,<br>
<br>
regards<br>
<br>
your Trimatrix team
</body></html>