<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <import resource="trimatrix/utils/utilsContext.xml"/>  
    <import resource="trimatrix/db/dbContext.xml"/>    
    <import resource="trimatrix/entities/entitiesContext.xml"/> 
    <import resource="trimatrix/relations/relationsContext.xml"/> 
    <import resource="trimatrix/services/servicesContext.xml"/>   
    <import resource="trimatrix/logic/logicContext.xml"/> 
 
 <!--     
    <bean id="d" class="trimatrix.ui.Dispatcher" scope="session">
        <property name="logicLayer">
            <ref bean="logicLayer" />
        </property>    
        <property name="dictionary">
            <ref bean="dictionaryService" />
        </property> 
    </bean>  
-->
 </beans>